body{
    background-color:black;
}
body{
 color:white;
}
p{
    color:white;
}
h2{
     color:lightyellow;
} 

h1{
     color:lightblue;
   } 
   
   .h3{
    color:white;
   }

h4{
    color: black;
}

.w3-sidebar {
    width: 120px;
    background: #222;
}


*{
    box-sizing: border-box;
}
.nav{
    display: block;
    unicode-bidi: isolate;
}
a:visited{
    color: lightgreen;
   
}
  .image{
    height: 190px;
    width: 120px;
    background-size: cover;
  }  
*{
box-sizing: border-box;
}
/* create three equal columns that floats next to each other */
.img{
   background-size:cover;
    height: 456px;
    width:345px ;
    

}
*{
    box-sizing: border-box;  
}
.column-1{
float:left;
width: 33.33%;
padding: 8px;;
height: 250px; /* should be removed. only for demonstration */
background-color: lightblue;
color: black;


}
/* clear float after the columns */
.row::after{
content: "";
display: table;
clear: both;
}
.column-2{
    float:left;
    width: 33.33%;
    padding: 8px;;
    height: 250px; /* should be removed. only for demonstration */
    background-color: lightgreen;
    color: black;
    
    
    }


.column-3{
    float:left;
    width: 33.33%;
    padding: 8px;;
    height: 250px; /* should be removed. only for demonstration */
    background-color: lightyellow;
    color: black;
    
    }
u{
    text-decoration: underline;
    
}
h1.small{
font-variant: small-caps;
color: lightblue;
}  

.animated-text{
    font-size:34px;
    font-weight:600;
}
.animated-text span{
position: relative;
}
.animated-text span:before{
content:"Puja Dal";
color:White;
}
.animated-text span::after{
content: "";
position: absolute;
width:calc(100% + 8px);
height: 100%;
background-color: black;
border-left: 2px solid red;
right: -8px;
animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
to{
    border-left: 2px solid black;
}
}
@keyframes words {
0%,20%{
    content:"";
}      
}
@keyframes typing{
10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width:0;
}
5%,20%,25%,40%,60%,65%,80%,85%{
    width: calc(100% + 8px);
}
}

@property --p{
syntax: '<number>';
inherits: true;
initial-value: 0;
}

.pie {
--p:20;
--b:22px;
--c:darkred;
--w:150px;

width:var(--w);
aspect-ratio:1;
position:relative;
display:inline-grid;
margin:5px;
place-content:center;
font-size:25px;
font-weight:bold;
font-family:sans-serif;
}
.pie:before,
.pie:after {
content:"";
position:absolute;
border-radius:50%;
}
.pie:before {
inset:0;
background:
radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
-webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
inset:calc(50% - var(--b)/2);
background:var(--c);
transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
animation:p 1s .5s both;
}
.no-round:before {
background-size:0 0,auto;
}
.no-round:after {
content:none;
}
@keyframes p {
from{--p:0}

}
.icon{
    
a:link{color:green;}
a:visited{color:lightgreen;}
a:hover{color:yellow;}
a:active:{color:red;}
}
.picture{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}
.my-pic1{
    height: 426px;
    width: 320px;
    background-size:cover;
   
}
.my-pic2{
    height: 426px;
    width: 320px;
    background-size:cover;
   
}
.my-pic3{
    height: 426px;
    width: 320px;
    background-size:cover;
   
}
.my-pic4{
    height: 426px;
    width: 320px;
    background-size:cover;
   
}
.my-pic5{
    height: 426px;
    width: 320px;
    background-size:cover;
   
}
.my-pic6{
    height: 426px;
    width: 750px;
    background-size:cover;
   
}
.my-pic7{
    height: 426px;
    width: 320px;
    background-size:cover;
   
}
{

.w3-sidebar{width: 120px;background: #222;}    
/* Add a right margins to the "page content" on small screens */
#main {margin:right 12px;}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width:600px) {#main {margin-right: 0;}}
}